<section class="error">
    <div class="container">
        <div class="error__inner">
            <img src="./images/dist/icons/error.png" alt="404">
            <p class="error__text">Die gesuchte Seite kann nicht gefunden werden</p>
            <a class="button error-btn" href="#">Startseite ›</a>
        </div>
    </div>
</section>