<section class="faq">
    <!-- <div class="container"> -->
        <div class="faq_list">
            <div class="faq_item">
                <h1>FAQ</h1>
            </div>
            <div class="faq_item">
                <div class="faq_item_title">
                    <div class="faq_item_title_inner">
                        Как изменить номер телефона?
                    </div>
                </div>
                <div class="faq_item_body">
                    Возврат и обмен товаров возможен в течение <b>14 дней</b> после получения товара покупателем. <b>Обратная доставка</b>
                    товаров осуществляется по договоренности.
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_item_title">
                    <div class="faq_item_title_inner">
                        Как изменить адрес электронной почты?
                    </div>
                </div>
                <div class="faq_item_body">
                    Возврат и обмен товаров возможен в течение <b>14 дней</b> после получения товара покупателем. <b>Обратная доставка</b>
                    товаров осуществляется по договоренности.
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_item_title">
                    <div class="faq_item_title_inner">
                        Как изменить ФИО в Мой кабинет?
                    </div>
                </div>
                <div class="faq_item_body">
                    Возврат и обмен товаров возможен в течение <b>14 дней</b> после получения товара покупателем. <b>Обратная доставка</b>
                    товаров осуществляется по договоренности.
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_item_title">
                    <div class="faq_item_title_inner">
                        Какие есть способы оплаты заказа?
                    </div>
                </div>
                <div class="faq_item_body">
                    Возврат и обмен товаров возможен в течение <b>14 дней</b> после получения товара покупателем. <b>Обратная доставка</b>
                    товаров осуществляется по договоренности.
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_item_title">
                    <div class="faq_item_title_inner">
                        Что делать если товар не подошел?
                    </div>
                </div>
                <div class="faq_item_body">
                    Возврат и обмен товаров возможен в течение <b>14 дней</b> после получения товара покупателем. <b>Обратная доставка</b>
                    товаров осуществляется по договоренности.
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_item_title">
                    <div class="faq_item_title_inner">
                        Как изменить способ доставки?
                    </div>
                </div>
                <div class="faq_item_body">
                    Возврат и обмен товаров возможен в течение <b>14 дней</b> после получения товара покупателем. <b>Обратная доставка</b>
                    товаров осуществляется по договоренности.
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_item_title">
                    <div class="faq_item_title_inner">
                        Почему только наложенный платеж?
                    </div>
                </div>
                <div class="faq_item_body">
                    Возврат и обмен товаров возможен в течение <b>14 дней</b> после получения товара покупателем. <b>Обратная доставка</b>
                    товаров осуществляется по договоренности.
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_item_title">
                    <div class="faq_item_title_inner">
                        Могу ли я забрать сам товар?
                    </div>
                </div>
                <div class="faq_item_body">
                    Возврат и обмен товаров возможен в течение <b>14 дней</b> после получения товара покупателем. <b>Обратная доставка</b>
                    товаров осуществляется по договоренности.
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_item_title">
                    <div class="faq_item_title_inner">
                        Что делать если я хочу сделать возврат товар?
                    </div>
                </div>
                <div class="faq_item_body">
                    Возврат и обмен товаров возможен в течение <b>14 дней</b> после получения товара покупателем. <b>Обратная доставка</b>
                    товаров осуществляется по договоренности.
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>