<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__grid">
            <div class="footer__logo">
                <img src="./images/dist/logo/Logo-blue.svg" alt="logo">
            </div>
            <div class="footer__top">
            <div class="potency">
                <h1 class="potency__title">Потенция</h1>
                <ul class="footer__links">
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Viagra</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Cialis</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Kamagra</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Levitra</a></li>
                </ul>
            </div>
            <div class="steroids">
                <h1 class="steroids__title">Стероиды</h1>
                <ul class="footer__links">
                    <li class="footer__links-item"><a class="footer__links-link" href="#">So bestellen</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Zahlung</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#"> Lieferung</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#"> Kaufretour</a></li>
                </ul>
            </div>
            <div class="looseweight">
                <h1 class="looseweight__title">Похудение</h1>
                <ul class="footer__links">
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Препарат первый</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Препарат второй</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Препарат третий</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Препарат номер <br> следующий</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Препарат пять</a></li>
                </ul>
            </div>
            <div class="antibiotics">
                <h1 class="antibiotics__title">Антибиотики</h1>
                <ul class="footer__links">
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Антибиотик один</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Второй антибиотик</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Антибиотик третий</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Антибиотик 4</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Антибиотик пятый</a></li>
                </ul>
            </div>
            <div class="others">
                <h1 class="others__title">Другие</h1>
                <ul class="footer__links">
                    <li class="footer__links-item"><a class="footer__links-link" href="#">Все препараты</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">что не входят</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">в предеидущие</a></li>
                    <li class="footer__links-item"><a class="footer__links-link" href="#">категории</a></li>
                </ul>
            </div>
        </div>
        </div>
        <p class="footer__info">
            2021 © TOP Pharmacy. Alle Rechte vorbehalten
        </p>
        </div>
    </div>
    <div class="footer__payment">
        <div class="footer__payment-item"><img src="./images/dist/payment/visa.svg" alt="visa" class="footer__payment-img"></div>
        <div class="footer__payment-item"><img src="./images/dist/payment/mastercard.svg" alt="mastercard" class="footer__payment-img"></div>
        <div class="footer__payment-item"><img src="./images/dist/payment/paypal.svg" alt="paypal" class="footer__payment-img"></div>
        <div class="footer__payment-item"><img src="./images/dist/payment/swift.svg" alt="swift" class="footer__payment-img"></div>
        <div class="footer__payment-item"><img src="./images/dist/payment/ssl.svg" alt="ssl" class="footer__payment-img"></div>
    </div>
</footer>