<section class="gratitude">
    <div class="gratitude__inner">
        <h1>Danke für Ihre Bestellung!</h1>
        <p>Bezahlen Sie bitte Ihre bestellten Waren per Banküberweisung</p>
        <p class="total">Summe: <span>€ <b>47</b></span></p>
        <p><b>Firmenname:</b> ECOMMERCE TECHNOLOGIES LTD</p>
        <p><b>IBAN:</b> CH8408799933500TEST</p>
        <p><b>SWIFT-Code:</b> INCOCHZZXXX</p>
        <p><b> Firmenanschrift:</b> CH8408799933500TEST</p>
        <p><b>Bankadresse:</b> Cambridge House, 16 High Street, Saffron Walden, Essex, England, CB10 1AX</p>
        <p><b>Zahlungsreferenz (erforderlich, um zu füllen!):</b> TEST 027962 F</p>
        <div class="button-wrapper">
            <a class="gratitude__button" href="">
                <img src="./images/dist/icons/download.svg" alt="">
                Download
            </a>
        </div>
    </div>
</section>