<section class="how__order">
    <!-- <div class="container"> -->
        <h1>Как заказать</h1>
        <ul>
            <li><a href="#">Wie Sie Potenzmittel rezeptfrei online bestellen!</a></li>
            <li><a href="#">1 Warenkorb</a></li>
            <li><a href="#">2 Bestellung</a></li>
            <li><a href="#">3 Ihre Daten</a></li>
            <li><a href="#">4 Daten überprüfen</a></li>
            <li><a href="#">5 Bestellungsbestätigung</a></li>
            <li><a href="#">Ihre Vorteile im Überblick</a></li>
        </ul>
        <h2>Wie Sie Potenzmittel rezeptfrei online bestellen!</h2>
        <p>Sie möchten Potenzmittel rezeptfrei bestellen? – Diskrete und schnelle Lieferung an Ihre Wunschadresse!</p>

           <p>Jetzt haben Sie die Möglichkeit, bei Top-Apotheke Potenzmittel rezeptfrei online zu bestellen. Rund um die
            Uhr. Unser höchstes Ziel ist die Gesundheit unserer Kunden. Unser oberstes Gebot ist Diskretion. Wenn es um
            die männliche Gesundheit geht, verlassen Sie sich auf die Kompetenz der Mitarbeiter unserer Online-Apotheke.
            Bei allen Fragen rund um die Gesundheit und die Wirkung der Medikamente werden Sie kostenfrei von unserem
            hochqualifizierten Kundendienst beraten.</p>
        <div><img src="./images/dist/how-order/order-1.png" alt=""></div>
        <h2>1. Warenkorb</h2>
        <p>Im Warenkorb bekommen unsere Kunden eine Übersicht über die gewählten Artikel. Mit dem Klick auf "Оформить
            заказ" wird die Bestellung abgeschlossen.</p>
        <div><img src="./images/dist/how-order/order-2.png" alt=""></div>
        <h2>2. Bestellung </h2>
        <p>Als Kunde müssen Sie das Online-Formular ausfüllen. Alle mit * markierten Felder sollen ausgefüllt werden.
        </p>
        <div><img src="./images/dist/how-order/order-3.png" alt=""></div>
        <h2>3. Ihre Daten</h2>
        <p>Für die Bestellung müssen die notwendigen Versand- und Adressdaten eingegeben werden. Sie können Ihre
            bevorzugte Versandart und Zahlungsweise wählen. Dank unserer modernen Lagerlogistik kann der Versand der
            Medikamente am Tag des Bestellungseinganges erfolgen. Ihre Medikamente werden in einem diskreten Paket an
            Ihre Adresse geliefert.</p>
        <h2>4. Daten überprüfen</h2>
        <p>Bevor Sie Ihre Bestellung absenden, überprüfen Sie Ihre Daten und ändern sie bei Bedarf. Der Bestellvorgang
            wird mit dem Klick auf den Button "Bestellung abschließen" abgeschlossen. Die Zustimmung zu unseren
            allgemeinen Geschäftsbedingungen ist die gesetzliche Auflage.</p>
        <div><img src="./images/dist/how-order/order-4.png" alt=""></div>
        <h2>5. Bestellungsbestätigung</h2>
        <p>
            Umgehend erhalten Sie eine E-Mail als Bestätigung mit allen Details bezüglich der bestellten Medikamente.
        </p>

           <p>Selbstverständlich kann unsere kostenfreie telefonische Hotline (s. das Banner rechts auf der Seite) genutzt
            werden. Unsere Mitarbeiter im Kundendienst antworten gerne auf alle Fragen zu der Bestellung sowie der
            Wirkung der Medikamente zu den Geschäftszeiten.
        </p>
        <h2>Ihre Vorteile im Überblick:</h2>
        <p>
            keine Versandkosten;
            Gesundheitstipps. Beim Kundendienst via kostenfreie Hotline erhalten Sie zusätzliche Gesundheitstipps sowie
            nützliche Informationen zu allen Medikamenten.
            geprüfte Arzneimittel höchster Qualität. Top-Apotheke ist die größte Internetapotheke für Potenzmittel in
            Europa.
            kompetente Beratung von Fachleuten. Auf die Kompetenz unseres Kundendienstes kann sich jeder Kunde
            verlassen.
            verschiedene Zahlungsarten. Top-Apotheke gibt Ihnen Möglichkeiten, Ihre Bestellung zu bezahlen, wie Sie es
            wünschen. Wir geben Ihnen die Wahl!
            attraktive Angebote und Rabatte;
            diskrete und schnelle Lieferung;
            rund um die Uhr online. Bestellen Sie Potenzmittel online rund um die Uhr 365 Tage im Jahr oder per Telefon
            zu den Geschäftszeiten!
        </p>
            <p>Vielen Dank für Ihr Vertrauen!</p> 
       
    <!-- </div> -->
</section>