<section class="kontakt">
    <!-- <div class="container"> -->
    <div class="kontakt__inner">
        <h1>Kontakt</h1>
        <p>Schreiben Sie uns Ihre Fragen oder senden Sie uns eine Kundenerfahrung.</p>
        <div class="kontakt__input">
            <div class="form-group__wrapper">
                <div class="form-group">
                    <input class="form-control form-order" type="text" placeholder="Ihr Name *">
                </div>
                <div class="form-group">
                    <input class="form-control form-order" type="text" placeholder="Ihre E-Mail *">
                </div>
                <div class="form-group">
                    <input class="form-control form-order" type="text" placeholder="Betreff">
                </div>
            </div>
            <div class="textarea">
                <textarea class="form-control textarea" id="exampleFormControlTextarea1" rows="3">Nachricht *</textarea>
            </div>
        </div>
        <button class="button kontakt" data-toggle="modal" data-target="#exampleModal2">Senden</button>
    </div>
    <!-- </div> -->
</section>