<div class="modal__wrapper">
    <!-- <div class="modal__button-wrapper"> -->
    <!-- Button trigger modal -->

    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Оставить отзыв
        </button> -->

    <!-- Button trigger modal -->

    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
            Ответить на отзыв
        </button>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal5">
            Корзина с товарами
        </button> -->

    <!-- Button trigger modal -->

    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal6">
            Пустая корзина
        </button> -->

    <!-- Button trigger modal -->

    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
            Спасибо за отзыв
        </button> -->

    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4">
            Заказ успешно выполнен
        </button> -->
    <!-- </div> -->




    <!-- Leave review -->
    <div class="modal fade review-modal" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Оставить отзыв</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img class="" aria-hidden="true" src="./images/dist/modals/close.svg" alt="close">
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="send-form">
                            <div class="review-item">
                                <span>Ваша оценка</span>
                                <div class='star'></div>
                            </div>
                            <div class="form-group-modal">
                                <label for="input3">Ваше имя</label>
                                <input type="text" class="form-control" id="input3" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group-modal">
                                <label for="message-text">Ваш отзыв</label>
                                <textarea type="tel" class="form-control success" id="message-text"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white cancel-btn" data-dismiss="modal">Отмена</button>
                    <button class="btn btn-primary">Оставить отзыв</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Answer -->
    <div class="modal fade review-modal" id="exampleModal2" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ответить на отзыв</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img class="" aria-hidden="true" src="./images/dist/modals/close.svg" alt="close">
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="send-form">
                            <div class="form-group-modal">
                                <label for="input3">Ваше имя</label>
                                <input type="text" class="form-control" id="input3" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group-modal">
                                <label for="message-text">Ваш отзыв</label>
                                <textarea type="tel" class="form-control success" id="message-text"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white cancel-btn" data-dismiss="modal">Отмена</button>
                    <button class="btn btn-primary">Ответить</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Thank you -->
    <div class="modal fade thankyou-modal" id="exampleModal3" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img class="" aria-hidden="true" src="./images/dist/modals/close.svg" alt="close">
                    </button>
                </div>
                <div class="modal-body">
                    <img class="" aria-hidden="true" src="./images/dist/modals/thank.svg" alt="close">
                    <p>Спасибо за отзыв</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Succes -->
    <div class="modal fade thankyou-modal" id="exampleModal4" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img class="" aria-hidden="true" src="./images/dist/modals/close.svg" alt="close">
                    </button>
                </div>
                <div class="modal-body">
                    <img class="" aria-hidden="true" src="./images/dist/modals/thank.svg" alt="close">
                    <p>Заказ успешно выполнен</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Cart -->
    <div class="modal fade cart-modal" id="exampleModal5" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img class="" aria-hidden="true" src="./images/dist/modals/close.svg" alt="close">
                    </button>
                </div>
                <div class="modal-body">
                    <section class="quantity">
                        <h3>Выбранные товары</h3>
                        <div class="quantity-item">
                            <div class="quantity-item__description">
                                <a href="/">
                                    <img src="./images/dist/products/pfizer.png" alt="product-logo">
                                </a>
                                <div class="quantity-item__description-container">
                                    <a href="/">
                                        <span class="quantity-item__description-title">Viagra Generika</span>
                                    </a>
                                    <span class="quantity-item__description-text">25mg x 4 Pillen</span>
                                </div>
                            </div>
                            <div class="quantity-item__footer">
                                <p class="quantity-item__total desctop">
                                    <span class="quantity-item__total-currency">€</span>
                                    <span class="quantity-item__total-price">19.56</span>
                                </p>
                                <div class="quantity-item__control">
                                    <button class="quantity-item__control-btn">-</button>
                                    <span class="quantity-item__control-value">2</span>
                                    <button class="quantity-item__control-btn">+</button>
                                </div>
                                <p class="quantity-item__total">
                                    <span class="quantity-item__total-currency">€</span>
                                    <span class="quantity-item__total-price">19.56</span>
                                </p>
                            </div>
                            <span class="quantity-item__delete"><img src="./images/dist/icons/icon-trash.svg"
                                    alt=""></span>
                        </div>
                        <div class="quantity-item">
                            <div class="quantity-item__description">
                                <a href="/">
                                    <img src="./images/dist/products/levitra.png" alt="product-logo">
                                </a>
                                <div class="quantity-item__description-container">
                                    <a href="/">
                                        <span class="quantity-item__description-title">Viagra Generika</span>
                                    </a>
                                    <span class="quantity-item__description-text">25mg x 4 Pillen</span>
                                </div>
                            </div>
                            <div class="quantity-item__footer">
                                <p class="quantity-item__total desctop">
                                    <span class="quantity-item__total-currency">€</span>
                                    <span class="quantity-item__total-price">14.20</span>
                                </p>
                                <div class="quantity-item__control">
                                    <button class="quantity-item__control-btn">-</button>
                                    <span class="quantity-item__control-value">2</span>
                                    <button class="quantity-item__control-btn">+</button>
                                </div>
                                <p class="quantity-item__total">
                                    <span class="quantity-item__total-currency">€</span>
                                    <span class="quantity-item__total-price">28.40</span>
                                </p>
                            </div>
                            <span class="quantity-item__delete"><img src="./images/dist/icons/icon-trash.svg"
                                    alt=""></span>
                        </div>
                    </section>
                    <div class="total mobile">
                        <span class="total__label">Итого:</span>
                        <span class="total__price">
                            €
                            <span class="total__price-val">14.20</span>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success">Оформить заказ</button>
                    <div class="total desctop">
                        <span class="total__label">Итого:</span>
                        <span class="total__price">
                            €
                            <span class="total__price-val">14.20</span>
                        </span>
                    </div>
                    <a href="" class="ref-link" data-dismiss="modal" aria-label="Close"><img
                            src="./images/dist/modals/arrow-left.svg" alt="">Продолжить покупки</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Cart -->
    <div class="modal fade cart-modal" id="exampleModal6" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img class="" aria-hidden="true" src="images/dist/modals/close.svg" alt="close">
                    </button>
                </div>
                <div class="modal-body">
                    <span class="empty-label">Ваша корзина пуста</span>
                </div>
                <div class="modal-footer empty">
                    <a href="" class="ref-link" data-dismiss="modal" aria-label="Close"><img
                            src="./images/dist/modals/arrow-left.svg" alt="">Продолжить покупки</a>
                </div>
            </div>
        </div>
    </div>
</div>