<section class="order">
    <!-- <div class="container"> -->
    <div class="order__inner">
        <div class="order__item">
            <nav style="--bs-breadcrumb-divider: url(./images/dist/breadcrumb/next.svg);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="breadcrumb-item-link" href="#">Startseite</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Kasse</li>
                </ol>
            </nav>
            <h1>Оформление заказа</h1>
            <section class="quantity">
                <h3>Выбранные товары</h3>
                <div class="quantity-item">
                    <div class="quantity-item__description">
                        <a href="/">
                            <img src="images/dist/products/pfizer.png" alt="product-logo">
                        </a>
                        <div class="quantity-item__description-container">
                            <a href="/">
                                <span class="quantity-item__description-title">Viagra Generika</span>
                            </a>
                            <span class="quantity-item__description-text">25mg x 4 Pillen</span>
                        </div>
                    </div>
                    <div class="quantity-item__footer">
                        <p class="quantity-item__total desctop hide">
                            <span class="quantity-item__total-price">€ 19.56</span>
                        </p>
                        <div class="quantity-item__control">
                            <button class="quantity-item__control-btn">-</button>
                            <span class="quantity-item__control-value">1</span>
                            <button class="quantity-item__control-btn">+</button>
                        </div>
                        <p class="quantity-item__total">
                            <span class="quantity-item__total-price">€ 19.56</span>
                        </p>
                    </div>
                    <span class="quantity-item__delete"><img src="images/dist/icons/icon-trash.svg" alt=""></span>
                </div>
                <div class="quantity-item">
                    <div class="quantity-item__description">
                        <a href="/">
                            <img src="images/dist/products/levitra.png" alt="product-logo">
                        </a>
                        <div class="quantity-item__description-container">
                            <a href="/">
                                <span class="quantity-item__description-title">Original Levitra</span>
                            </a>
                            <span class="quantity-item__description-text">20mg x 4 Pillen</span>
                        </div>
                    </div>
                    <div class="quantity-item__footer">
                        <p class="quantity-item__total desctop hide">
                            <span class="quantity-item__total-price">€ 14.20</span>
                        </p>
                        <div class="quantity-item__control">
                            <button class="quantity-item__control-btn">-</button>
                            <span class="quantity-item__control-value">2</span>
                            <button class="quantity-item__control-btn">+</button>
                        </div>
                        <p class="quantity-item__total">
                            <span class="quantity-item__total-price">€ 28.40</span>
                        </p>
                    </div>
                    <span class="quantity-item__delete"><img src="images/dist/icons/icon-trash.svg" alt=""></span>
                </div>
            </section>

            <div class="form__wrapper">
                <section class="radio-section">
                    <h2>Versandart</h2>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Regulärer Postversand (4-13 Werktage) - 2.00 €
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Express Versand (2-7 Werktage) - 19.99 €
                        </label>
                    </div>
                </section>

                <section class="personal-data form-section">
                    <h2>Versandinformation</h2>
                    <form>
                        <div class="row">
                            <div class="col">
                                <div class="form-group has-error">
                                    <input type="email" class="form-control" id="input1" aria-describedby="emailHelp"
                                        placeholder="E-Mail *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group has-success">
                                    <input type="text" class="form-control" id="input2" aria-describedby="emailHelp"
                                        placeholder="Vorname *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="input3" aria-describedby="emailHelp"
                                        placeholder="Nachname *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="tel" class="form-control success" id="input4"
                                        aria-describedby="emailHelp" placeholder="Telefonnummer *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="input5" aria-describedby="emailHelp"
                                        placeholder="Strasse, Nr. *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control success" id="input6"
                                        aria-describedby="emailHelp" placeholder="Postleitzahl *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="input7" aria-describedby="emailHelp"
                                        placeholder="Ort *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control success" id="input8"
                                        aria-describedby="emailHelp" placeholder="Land *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                        </div>
                    </form>

                </section>

                <section class="address-data form-section">
                    <h2>Rechnungsinformation</h2>
                    <div class="form-check address-data__checkbox">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Wenn Rechnungsadresse und Lieferadresse gleich sind, klicken Sie bitte hier
                        </label>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="input1" aria-describedby="emailHelp"
                                        placeholder="Vorname *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control success" id="input2"
                                        aria-describedby="emailHelp" placeholder="Postleitzahl *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="input5" aria-describedby="emailHelp"
                                        placeholder="Nachname *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control success" id="input6"
                                        aria-describedby="emailHelp" placeholder="Ort *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="input7" aria-describedby="emailHelp"
                                        placeholder="Strasse, Nr. *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control success" id="input8"
                                        aria-describedby="emailHelp" placeholder="Land *">
                                    <!-- <small id="someid" class="form-text text-danger">Some error</small> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </section>

                <h2>Rechnungsinformation</h2>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Visa
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        MasterCard
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Banküberweisung
                    </label>
                </div>
                <div class="form-group">
                    <input class="form-control form-order" type="text" placeholder="Kreditkartennummer *">
                </div>
                <h3>Gültig bis</h3>
                <form class="form__select_wrapper">
                    <div class="__select" data-state="">
                        <div class="__select__title" data-default="Option 0">Month</div>
                        <div class="__select__content">
                            <div class="scroll__wrapper">
                                <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" />
                                <label for="singleSelect0" class="__select__label">January</label>
                                <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" />
                                <label for="singleSelect0" class="__select__label">January</label>
                                <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
                                <label for="singleSelect1" class="__select__label">February</label>
                                <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" />
                                <label for="singleSelect2" class="__select__label">March</label>
                                <input id="singleSelect3" class="__select__input" type="radio" name="singleSelect" />
                                <label for="singleSelect3" class="__select__label">April</label>
                                <input id="singleSelect4" class="__select__input" type="radio" name="singleSelect" />
                                <label for="singleSelect4" class="__select__label">May</label>
                                <input id="singleSelect5" class="__select__input" type="radio" name="singleSelect" />
                                <label for="singleSelect5" class="__select__label">June</label>
                                <input id="singleSelect6" class="__select__input" type="radio" name="singleSelect" />
                                <label for="singleSelect6" class="__select__label">July</label>
                                <input id="singleSelect7" class="__select__input" type="radio" name="singleSelect" />
                                <label for="singleSelect7" class="__select__label">August</label>
                                <input id="singleSelect8" class="__select__input" type="radio" name="singleSelect" />
                                <label for="singleSelect8" class="__select__label">September</label>
                            </div>
                        </div>
                    </div>
                    <div class="__select__year" data-state="">
                        <div class="__select__year__title" data-default="Option 0">Year</div>
                        <div class="__select__content">
                            <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" />
                            <label for="singleSelect0" class="__select__year__label">2021</label>
                        </div>
                    </div>
                    <div class="select__wrapper">
                        <input type="password" class="form-control form-password" id="inputPassword"
                            placeholder="CVV2 Nummer">
                        <img src="./images/dist/forms/input.svg" alt="">
                    </div>
                </form>


            </div>
        </div>
        <div class="order__card">
            <div class="order__card-inner">
                <div class="order__card-wrapper">
                    <div class="order__card-top">
                        <h2>Итого</h2>
                        <p>2 товара на сумму <span class="product__price">€ 19.56</span></p>
                        <p>Стоимость доставки <span class="delivery__price">€ 2.00</span></p>
                    </div>
                </div>
                <div class="order__card-bottom">
                    <p>К оплате:<span>€ 14.20</span></p>
                    <button class="button__card" data-toggle="modal" data-target="#exampleModal4">Оформить
                        заказ</button>
                </div>
            </div>
        </div>
        <!-- </div> -->

</section>