<section class="produkte">
    <a id="button"></a>
    <div class="produkte__inner">
        <h1 class="produkte__inner-title">Produkte</h1>
        <div class="produkte__list">
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/pfixer.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <span class="item-label green">beliebt</span>
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/c20.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                            <span class="produkte__item__price-discount">
                                51.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/c20.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                            <span class="produkte__item__price-discount">
                                51.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/pfixer.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                            <span class="produkte__item__price-discount">
                                51.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/pfixer.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                            <span class="produkte__item__price-discount">
                                51.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/pfixer.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                            <span class="produkte__item__price-discount">
                                51.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/c20.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                            <span class="produkte__item__price-discount">
                                51.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/c20.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                            <span class="produkte__item__price-discount">
                                51.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/pfixer.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/pfixer.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/pfixer.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/c20.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                            <span class="produkte__item__price-discount">
                                51.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/c20.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                            <span class="produkte__item__price-discount">
                                51.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/pfixer.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
            <div class="produkte__item">
                <a href="#">
                    <img class="produkte__item-img" src="./images/dist/products/pfixer.png" alt="produkte">
                </a>
                <div class="producte__content">
                    <h2 class="produkte__item-title">Viagra Original 100mg</h2>
                    <p class="beginnt">Beginnt um:</p>
                    <div class="produkte__item__footer">
                        <div class="produkte__item__price">
                            <span class="produkte__item__price-total">
                                49.20 €
                            </span>
                        </div>
                        <button class="produkte__item__button">
                            <span>Kaufen</span>
                            <img src="images/dist/icons/shopping-cart.svg" alt="Buy">
                            <img class="item-hover" src="images/dist/icons/shopping-cart-white.svg" alt="Buy">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination__produkte">
            <li><a class="arrow left" href="#"><img src="./images/dist/icons/pagination-left.svg" alt=""></a></li>
            <li class="pagination__list"><a href="#">1</a></li>
            <li class="pagination__list"><a class="active" href="#">2</a></li>
            <li class="pagination__list"><a href="#">3</a></li>
            <li class="pagination__list"><a href="#">4</a></li>
            <li><a class="dots" href="#"><img src="./images/dist/blog/dots.svg" alt=""></a>
            </li>
            <li class="pagination__list"><a href="#">15</a></li>
            <li><a class="arrow right" href="#"><img src="./images/dist/icons/pagination-right.svg" alt=""></a></li>
        </ul>
        <div class="produkte__button">
            <a href="#"><button class="button hover">Смотреть больше</button></a>
        </div>
    </div>
    <div class="produkte__content">
        <h1 class="produkte__content-title">Potenzmittel rezeptfrei: Viagra, Cialis, Levitra, Kamagra, Priligy und
            mehr
        </h1>
        <p class="produkte__content-text">Top-Apotheke ist Nummer 1 Anbieter von Generika- und Markenarzneien in
            Deutschland, Österreich und in der Schweiz – erhältlich sogar ohne ärztliches Rezept. Wir bieten einem
            großen Teil der deutschen Gesellschaft Medikamente gegen erektile Dysfunktion an, sowie
            Hautpflegeprodukte
            und Diätmittel – und das Ganze zu bezahlbaren Preisen.</p>
        <a class="produkte__content-link" href="#">Читать далее</a>
    </div>
</section>