<div class="reviews-page">
	<h1>Kundenerfahrungen</h1>
	<button type="button" class="btn btn-primary rezension__btn review" href="#" data-toggle="modal"
		data-target="#exampleModal">Feedback geben</button>
	<div class="reviews">
		<div class="review-item">
			<div class="review-item__title">
				<div class="review-item__user">
					<div class="review-item__username">
						<span>Ulrich W.</span>
						<div class='star'></div>
					</div>
					<a href="/" class="review-item__linkundrlnd">Antworten</a>
				</div>
				<span class="review-item__date">21.04.2021</span>
			</div>
			<p class="review-item__text">
				Ware gut verpackt. Qualität sehr gut. Rundum zufrieden. Gerne wieder.
			</p>
		</div>
		<div class="review-item">
			<div class="review-item__title">
				<div class="review-item__user">
					<div class="review-item__username">
						<span>Peter V.</span>
						<div class='star'></div>
					</div>
					<a href="/" class="review-item__linkundrlnd">Antworten</a>
				</div>
				<span class="review-item__date">25.03.2021</span>
			</div>
			<p class="review-item__text">
				Hervorragender Service. Schnelle Lieferung. Ware hat exzellente Qualität. Preise sind angemessen. Super
				Kundenservice. Habe schon mehrmals eingekauft und bin wirklich sehr zufrieden!
			</p>
		</div>
		<div class="review-item">
			<div class="review-item__title">
				<div class="review-item__user">
					<div class="review-item__username">
						<span>Ronald F.</span>
						<div class='star'></div>
					</div>
					<a href="/" class="review-item__linkundrlnd">Antworten</a>
				</div>
				<span class="review-item__date">18.03.2021</span>
			</div>
			<p class="review-item__text">
				Lieferung dauerte etwas lang, aber ansonsten alles Bestens. Herzlichen Dank. Bestelle gern wieder bei
				Ihnen. Bestellung und Lieferung der Ware problemlos. Vorkasse ist Vertrauenssache - ok. Gestern durfte
				ich die Wirkung testen.
			</p>
		</div>
		<div class="review-item">
			<div class="review-item__title">
				<div class="review-item__user">
					<div class="review-item__username">
						<span>Ulrich W.</span>
						<div class='star'></div>
					</div>
					<a href="/" class="review-item__linkundrlnd">Antworten</a>
				</div>
				<span class="review-item__date">21.04.2021</span>
			</div>
			<p class="review-item__text">
				Ware gut verpackt. Qualität sehr gut. Rundum zufrieden. Gerne wieder.
			</p>
		</div>
		<div class="review-item">
			<div class="review-item__title">
				<div class="review-item__user">
					<div class="review-item__username">
						<span>Ulrich W.</span>
						<div class='star'></div>
					</div>
					<a href="/" class="review-item__linkundrlnd">Antworten</a>
				</div>
				<span class="review-item__date">21.04.2021</span>
			</div>
			<p class="review-item__text">
				Hervorragender Service. Schnelle Lieferung. Ware hat exzellente Qualität. Preise sind angemessen. Super
				Kundenservice. Habe schon mehrmals eingekauft und bin wirklich sehr zufrieden!
			</p>
		</div>
	</div>

</div>