<section class="original">
    <div class="original__inner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Startseite</a></li>
                <li class="breadcrumb-item active" aria-current="page">Viagra original</li>
            </ol>
        </nav>
        <div class="original__item">
            <img class="original__item-img" src="./images/dist/products/viagra-original.png" alt="viagra">
            <div class="original__content-wrapper">
                <h1 class="original__item-title">Viagra Generika 25-100m</h1>
                <div class="details__rating">
                    <div class='star'></div>
                    <span class="details__rating-val">4.4</span>
                </div>
                <p class="item__text">Wir begrüßen Sie recht herzlich in Ihrer Internet-Apotheke, in der Sie nicht
                    nur
                    eine einzigartige Produktpalette geboten bekommen, sondern diese auch noch zu
                    atemberaubenden
                    Preisen bestellen können. Unsere Arzneien und Medikamente aus der Online-Apotheke decken
                    vielerlei medizinische Felder ab, so etwa erektile Dysfunktion – auch bekannt als männliche
                    Impotenz.</p>
                <div class="composition-wrapper">
                    <p class="item__composition">Состав:</p>
                    <p class="item__composition-value">синденафил</p>
                </div>
            </div>
        </div>
        <div class="filter">
            <h1 class="filter__title">Дозировка</h1>
            <div class="custom-select mobile">
                <select>
                    <option selected>25mg</option>
                    <option value="1">50mg</option>
                    <option value="2">100mg</option>
                    <option value="3">120mg</option>
                    <option value="4">130mg</option>
                    <option value="5">150mg</option>
                    <option value="6">200mg</option>
                </select>
            </div>
            <ul class="nav nav-pills mb-3 desctop" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab1" data-toggle="pill" href="#" role="tab" aria-controls="tab1"
                        aria-selected="true">25mg</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab2" data-toggle="pill" href="#" role="tab" aria-controls="tab2"
                        aria-selected="false">50mg</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab3" data-toggle="pill" href="#" role="tab" aria-controls="tab3"
                        aria-selected="false">100mg</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab4" data-toggle="pill" href="#" role="tab" aria-controls="tab4"
                        aria-selected="false">120mg</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab5" data-toggle="pill" href="#" role="tab" aria-controls="tab5"
                        aria-selected="false">130mg</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab6" data-toggle="pill" href="#" role="tab" aria-controls="tab6"
                        aria-selected="false">150mg</a>
                </li>
            </ul>
            <div class="filter__products first">
                <div class="filter__products-item">
                    <p class="filter__composition">10 Pillen х 25mg</p>
                    <p class="filter__price">€ 19.56</p>
                </div>
                <div class="filter__button-wrapper">
                    <a class="filter__button" href="#"> Kaufen
                        <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                </div>
            </div>
            <div class="filter__products">
                <div class="filter__products-item">
                    <p class="filter__composition">20 Pillen х 25mg</p>
                    <p class="filter__price">€ 26.16</p>
                </div>
                <div class="filter__button-wrapper">
                    <a class="filter__button" href="#"> Kaufen
                        <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                </div>
            </div>
            <div class="filter__products">
                <div class="filter__products-item">
                    <p class="filter__composition">30 Pillen х 25mg</p>
                    <p class="filter__price">€ 28.97</p>
                </div>
                <div class="filter__button-wrapper">
                    <a class="filter__button" href="#"> Kaufen
                        <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                </div>
            </div>
            <div class="filter__products">
                <div class="filter__products-item">
                    <p class="filter__composition">40 Pillen х 25mg</p>
                    <p class="filter__price">€ 30.37</p>
                </div>
                <div class="filter__button-wrapper">
                    <a class="filter__button" href="#"> Kaufen
                        <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                </div>
            </div>
            <div class="filter__products">
                <div class="filter__products-item">
                    <p class="filter__composition">50 Pillen х 25mg</p>
                    <p class="filter__price">€ 32.21</p>
                </div>
                <div class="filter__button-wrapper">
                    <a class="filter__button" href="#"> Kaufen
                        <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                </div>
            </div>
            <div class="filter__products">
                <div class="filter__products-item">
                    <p class="filter__composition">60 Pillen х 25mg</p>
                    <p class="filter__price">€ 32.98</p>
                </div>
                <div class="filter__button-wrapper">
                    <a class="filter__button" href="#"> Kaufen
                        <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                </div>
            </div>
            <div class="filter__products">
                <div class="filter__products-item">
                    <p class="filter__composition">70 Pillen х 25mg</p>
                    <p class="filter__price">€ 35.30</p>
                </div>
                <div class="filter__button-wrapper">
                    <a class="filter__button" href="#"> Kaufen
                        <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                </div>
            </div>
            <div class="filter__products">
                <div class="filter__products-item">
                    <p class="filter__composition">80 Pillen х 25mg</p>
                    <p class="filter__price">€ 36.52</p>
                </div>
                <div class="filter__button-wrapper">
                    <a class="filter__button" href="#"> Kaufen
                        <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                </div>
            </div>
            <div class="filter__products">
                <div class="filter__products-item">
                    <p class="filter__composition">90 Pillen х 25mg</p>
                    <p class="filter__price">€ 38.48</p>
                </div>
                <div class="filter__button-wrapper">
                    <a class="filter__button" href="#"> Kaufen
                        <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                </div>
            </div>
            <div class="filter__products">
                <div class="filter__products-item">
                    <p class="filter__composition">120 Pillen х 25mg</p>
                    <p class="filter__price">€ 42.92</p>
                </div>
                <div class="filter__button-wrapper">
                    <a class="filter__button" href="#"> Kaufen
                        <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                </div>
            </div>
            <div class="filter__products">
                <div class="filter__products-item">
                    <p class="filter__composition">150 Pillen х 25mg</p>
                    <p class="filter__price">€ 52.72</p>
                </div>
                <div class="filter__button-wrapper">
                    <a class="filter__button" href="#"> Kaufen
                        <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                </div>
            </div>

            <table class="table table-striped">
                <thead class="table__header">
                    <tr>
                        <th class="paket" scope="col">Paket</th>
                        <th class="paket" scope="col">Pro Pille</th>
                        <th class="paket" scope="col">Preis</th>
                        <th class="paket" scope="col">Ersparnisse</th>
                        <th class="paket" scope="col">Bonus</th>
                        <th class="paket"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>25mg x 10 Pillen</th>
                        <td>€ 1.96</td>
                        <td>€ 19.56</td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="filter__button-wrapper">
                                <a class="filter__button" href="#"> Kaufen
                                    <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>25mg x 20 Pillen</th>
                        <td>€ 1.31</td>
                        <td>€ 26.16</td>
                        <td>€ 12.96</td>
                        <td></td>
                        <td>
                            <div class="filter__button-wrapper">
                                <a class="filter__button" href="#"> Kaufen
                                    <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>25mg x 30 Pillen</td>
                        <td>€ 0.97</td>
                        <td>€ 28.97</td>
                        <td>€ 29.71</td>
                        <td class="bonus">2 Pillen</td>
                        <td>
                            <div class="filter__button-wrapper">
                                <a class="filter__button" href="#"> Kaufen
                                    <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>25mg x 40 Pillen</td>
                        <td>€ 0.76</td>
                        <td class="preise">€ 30.37</td>
                        <td>€ 47.87</td>
                        <td class="bonus">2 Pillen</td>
                        <td>
                            <div class="filter__button-wrapper">
                                <a class="filter__button" href="#"> Kaufen
                                    <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>25mg x 50 Pillen</td>
                        <td>€ 0.64</td>
                        <td class="preise">€ 32.21</td>
                        <td>€ 65.59</td>
                        <td class="bonus">4 Pillen</td>
                        <td>
                            <div class="filter__button-wrapper">
                                <a class="filter__button" href="#"> Kaufen
                                    <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>25mg x 60 Pillen</td>
                        <td>€ 0.55</td>
                        <td class="preise">€ 32.98</td>
                        <td>€ 84.38</td>
                        <td class="bonus">4 Pillen</td>
                        <td>
                            <div class="filter__button-wrapper">
                                <a class="filter__button" href="#"> Kaufen
                                    <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>25mg x 70 Pillen</td>
                        <td>€ 0.50</td>
                        <td class="preise">€ 35.30</td>
                        <td>€ 101.62</td>
                        <td class="bonus">6 Pillen</td>
                        <td>
                            <div class="filter__button-wrapper">
                                <a class="filter__button" href="#"> Kaufen
                                    <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>25mg x 80 Pillen</td>
                        <td>€ 0.46</td>
                        <td class="preise">€ 36.52</td>
                        <td>€ 119.96</td>
                        <td class="bonus">6 Pillen</td>
                        <td>
                            <div class="filter__button-wrapper">
                                <a class="filter__button" href="#"> Kaufen
                                    <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>25mg x 90 Pillen</td>
                        <td>€ 0.43</td>
                        <td class="preise">€ 38.48</td>
                        <td>€ 137.56</td>
                        <td class="bonus">8 Pillen</td>
                        <td>
                            <div class="filter__button-wrapper">
                                <a class="filter__button" href="#"> Kaufen
                                    <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>25mg x 120 Pillen</td>
                        <td>€ 0.36</td>
                        <td class="preise">€ 42.92</td>
                        <td>€ 191.80</td>
                        <td class="bonus">8 Pillen</td>
                        <td>
                            <div class="filter__button-wrapper">
                                <a class="filter__button" href="#"> Kaufen
                                    <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>25mg x 180 Pillen</td>
                        <td>€ 0.29</td>
                        <td class="preise">€ 52.72</td>
                        <td>€ 299.36</td>
                        <td class="bonus">10 Pillen</td>
                        <td>
                            <div class="filter__button-wrapper">
                                <a class="filter__button" href="#"> Kaufen
                                    <img src="./images/dist/icons/shoppingcart-white.svg" alt=""></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="grid__wrapper">
            <div class="rezension">
                <div class="rezension__top">
                    <h1>Rezension <span>(3)</span></h1>
                    <div class="details__rating rezension__star">
                        <div class='star'></div>
                        <span class="details__rating-val">4.4</span>
                    </div>
                    <p class="rezension__top-text">Teile deine Meinung</p>
                    <button type="button" class="btn btn-primary rezension__btn" href="#" data-toggle="modal"
                        data-target="#exampleModal">Feedback geben</button>
                </div>
                <div class="rezension__item-midle">
                    <div class="rezension__content">
                        <div class="rezension__content-data">
                            <div class="rezension__username-data">
                                <p class="name">Ulrich W.</p>
                                <a class="antworten" href="#">Antworten</a>
                            </div>
                            <p class="date">21.04.2021</p>
                        </div>
                        <div class='star'></div>
                    </div>
                    <p class="comment">Ware gut verpackt. Qualität sehr gut. Rundum zufrieden. Gerne wieder.</p>
                    <div class="rezension__content">
                        <div class="rezension__content-data">
                            <div class="rezension__username-data">
                                <p class="name">Ulrich W.</p>
                                <a class="antworten" href="#">Antworten</a>
                            </div>
                            <p class="date">21.04.2021</p>
                        </div>
                        <div class='star'></div>
                    </div>
                    <p class="comment">Schon das 3. Mal bestellt. Immer alles tutti und Ware ist einwandfrei!</p>
                    <div class="rezension__content">
                        <div class="rezension__content-data">
                            <div class="rezension__username-data">
                                <p class="name">Ulrich W.</p>
                                <a class="antworten" href="#">Antworten</a>
                            </div>
                            <p class="date">21.04.2021</p>
                        </div>
                        <div class='star'></div>
                    </div>
                    <p class="comment">Alles toll, kam sehr schnell. Bin zufrieden wie immer. War nicht das letzte Mal.
                        Danke.</p>
                </div>
            </div>
            <div class="about__produkte">
                <div class="viagra">
                    <h1>Viagra rezeptfrei kaufen</h1>
                    <div class="viagra">
                        <p>Impotenz <br> Welche Vorteile hat Viagra? <br> Aber wie genau wirkt Viagra? <br> Ist Viagra
                            das
                            richtige
                            Produkt
                            für
                            mich? <br> Lesen sie noch mehr über Viagra </p>
                        <p>Wir begrüßen Sie recht herzlich in Ihrer Internet-Apotheke, in der Sie nicht nur eine
                            einzigartige
                            Produktpalette
                            geboten bekommen, sondern diese auch noch zu atemberaubenden Preisen bestellen können.
                            Unsere
                            Arzneien und Medikamente
                            aus der Online-Apotheke decken vielerlei medizinische Felder ab, so etwa erektile
                            Dysfunktion – auch
                            bekannt als
                            männliche Impotenz.</p>
                    </div>
                </div>
                <div class="impotenz">
                    <h1>Impotenz</h1>
                    <p>
                        Dieses Phänomen ist nicht – wie lange Zeit behauptet – ein psychologisches Problem, sondern hat
                        in
                        90% der Fälle physische Ursprünge. Auch sind nicht nur Männer im gehobenen Alter betroffen.
                        Vielmehr
                        können alle Altersgruppen von Zeit zu Zeit unter erektiler Dysfunktion leiden. Aber kein Mann
                        muss
                        sich deswegen schämen, gedemütigt oder erniedrigt fühlen, denn dank Viagra – dem Potenzmittel
                        schlechthin – ist es möglich, ein völlig normales Leben zu führen.
                    </p>
                </div>
                <h1>Welche Vorteile hat Viagra?</h1>
                <div class="welche">
                    <p>Überzeugen Sie sich selbst. Wir haben hier extra für Sie die Vorteile von Viagra in einer
                        Übersicht
                        zusammengestellt:</p>
                    <p>Viagra wurde von der Lebensmittelaufsichtsbehörde (FDA) geprüft und zugelassen. Damit steht fest,
                        dass Viagra erstens
                        definitiv potenzsteigernd wirkt und zweitens nicht gesundheitsschädlich ist. <br>
                        Sie erhalten eine härtere und stärkere Erektion, die es Ihnen ermöglicht, den Sexualakt bis zum
                        Ende
                        durchzuführen.
                        Viagra befreit Sie von Schuldgefühlen. <br>
                        Ihre Beziehung gewinnt wieder an Vertrauen. <br>
                        Stress, Frustrationen, Depressionen und Angst – wenn sie von den Potenzstörungen herrühren –
                        werden
                        vermindert bis sie
                        schließlich nach nur wenigen Anwendungen vollständig beseitigt sind.
                        Viagra gibt Ihnen ein Stück Lebensqualität zurück. <br>
                        Viagra wirkt bereits eine halbe Stunde nach der Einnahme. Die Wirkung hält bis zu 4 Stunden an.
                        Sie können Viagra rezeptfrei online bequem, leicht und diskret von zuhause aus bestellen.</p>
                    <p>
                        Die Hauptsubstanz in Viagra ist Sildenafil-Citrat. Dieser Wirkstoff wurde 1998 auf den Markt
                        gebracht und hat sich seit
                        dem als äußerst erfolgreich erwiesen – das bestätigen Ärzte, Pharmazeuten und schließlich auch
                        zahlreiche Kunden.</p>
                </div>
                <div class="aber">
                    <h1>Aber wie genau wirkt Viagra?</h1>
                    <p>
                        Erektile Dysfunktion ist per Definition die Unfähigkeit des Mannes eine Erektion zu bekommen
                        oder
                        diese bis zum Schluss zu bewahren. Deswegen ist ein regulärer Verlauf des Sexualaktes
                        ausgeschlossen. Zurückzuführen ist dies auf eine mangelnde Durchblutung der Genitalregion,
                        welche
                        mit einer überhöhten Produktion des Stoffes PDE-5 im Körper zu tun hat. Der aktive Wirkstoff
                        Sildenafil-Citrat hemmt das Enzym PDE-5, so dass bei sexueller Stimulierung ein ganz natürlicher
                        Erregungszustand eintrifft; das heißt konkret: Dank Viagra können Sie wieder eine harte und
                        ausdauernde Erektion erhalten.

                    </p>
                    <p>Allerdings berichten Kunden, die Viagra nehmen, auch von Nebenwirkungen, zu denen vor allem
                        Kopfschmerzen, eine verstopfte Nase, Gesichtsrötungen, leichter Schwindel und Sodbrennen gehören
                        können. Weil diese Nebenwirkungen allerdings nur sehr selten auftreten, beteuern die nahezu alle
                        Kunden, dass es sich in jedem Fall lohne, diese Nebenwirkungen in Kauf zu nehmen, gemessen
                        daran,
                        welche positiven Effekte Viagra für den Patienten hat.</p>
                </div>
            </div>
        </div>
</section>