// USER VARIABLES SECTION

// colors
$dark-gray: #596069;
$black-gray: #8B98B2;
$light-gray: #CFD5E6;
$gray: #828282;
$light-gray: #EDF0F7;
$silver: #CFD5E5;
$blue: #43AEED;
$green: #83C73D;
$breadcrumb: #979CA9;
$breadcrumb-active: #131313;
$aside-border: #EDF0F7;

$accent: orange; // Accent Color
$red: #EB5757;
$fontsize: 16px; // Body Font Size
$textcolor: #596069; // Text Color
$footerBackground: #596069;
$footerKategorien: #CFD5E5;
$lineheight: 1.65; // Document Line Height
$mainfont: gilroy,
sans-serif; // User Font Family
$systemfont: -apple-system,
BlinkMacSystemFont,
Arial,
sans-serif; // System Font Family


// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;


$breadcrumb-divider: url(../images/dist/next.svg);

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints'; // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid'; // Optional Bootstrap Grid
@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/buttons';
@import 'node_modules/bootstrap/scss/dropdown';
@import 'node_modules/bootstrap/scss/button-group';
@import 'node_modules/bootstrap/scss/input-group';
@import 'node_modules/bootstrap/scss/custom-forms';
@import 'node_modules/bootstrap/scss/nav';
@import 'node_modules/bootstrap/scss/navbar';
@import 'node_modules/bootstrap/scss/breadcrumb';
@import 'node_modules/bootstrap/scss/pagination';
@import 'node_modules/bootstrap/scss/alert';
@import 'node_modules/bootstrap/scss/modal';
@import 'node_modules/bootstrap/scss/tooltip';
@import 'node_modules/bootstrap/scss/spinners';
@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/transitions';
@import 'node_modules/bootstrap/scss/modal';
@import 'node_modules/bootstrap/scss/close';
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites



@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff2');
	}
}


@include font('gilroy', normal, 400, '../fonts/Gilroy-Regular.woff2');
@include font('gilroy', normal, 500, '../fonts/Gilroy-Medium.woff2');
@include font('gilroy', normal, 600, '../fonts/Gilroy-Semibold.woff2');
@include font('gilroy', normal, 700, '../fonts/Gilroy-Bold.woff2');

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


::placeholder {
	color: #666;
}

::selection {
	background-color: orange;
	color: #fff;
}

input,
textarea {
	outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}

input:required:valid,
textarea:required:valid {
	border-color: green;
}

body {
	font-family: gilroy, sans-serif;
	font-size: 16px;
	line-height: 1.65;
	// color: $black;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

.hidden {
	overflow: hidden;
}

a:hover {
	text-decoration: none;
}

a {
	color: inherit;
}

textarea,
select,
input,
button {
	outline: none;
}


// Typographic
.container {

	h3 {
		font-size: 16px;
		line-height: 29px;
	}

	h4 {
		font-size: 14px;
		line-height: 24px;
	}

	p {
		&.small {
			font-size: 10px;
			line-height: 19px;
		}
	}

	@media (min-width: 1440px) {


		h3 {
			font-size: 18px;
		}

		h4 {
			font-size: 16px;
			line-height: 24px;
		}

		p {
			&.small {
				font-size: 12px;
				line-height: 19px;
			}
		}
	}


	@media (min-width: 576px) {
		max-width: 576px;
	}

	@media (min-width: 768px) {
		max-width: 768px;
	}

	@media (min-width: 992px) {
		max-width: 992px;
	}

	@media (min-width: 1200px) {
		max-width: 1200px;
	}

	@media (min-width: 1440px) {
		max-width: 1440px;
	}
}


.header,
.reviews-page,
.original,
.order,
.modal__wrapper,
.kontakt,
.how__order,
.gratitude,
.footer,
.faq,
.error,
.blog,
.aboutUs {
	padding: 0px 10px;
}

.button.kontakt:hover,
.gratitude__button:hover,
.button.error-btn:hover,
.filter__button:hover {
	background-color: #329EDD;
	color: #fff;
}

.button.kontakt:active,
.gratitude__button:active,
.button.error-btn:active,
.filter__button:active {
	background-color: #1E7CB5;
	color: #fff;
}