.aboutUs__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin-bottom: 43px;

    &-item h1 {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 37px;
        color: #596069;
        margin-top: 29px;
        margin-bottom: 53px;
    }

    &-item h2 {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        color: #596069;
        margin-bottom: 17px;
    }

    &-item p {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #979CA9;
    }
}

.welche{
    margin-bottom: 30px;
}
.viagra{
    margin-top: 20px;
    margin-bottom: 9px;
}
.impotenz{
    margin-top: 31px;
    margin-bottom: 19px;
}

.aboutUs__img {
    width: 100%;
    max-width: 784px;
    margin-bottom: 31px;
}

.item__img {
    width: 100%;
    margin-bottom: 19px;
}



@media (min-width: 920px) {
    .aboutUs__inner {
        grid-template-columns: 2fr 1fr;
        grid-gap: 171px;
    }

}