.blog h1{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #596069;
    margin-top: 29px;
    margin-bottom: 53px;
}
.blog h2{
    margin-top: 19px;
    margin-bottom: 17px;
    text-align: left;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #596069;
}
.blog p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #979CA9;
}
.blog__item-img{
    width: 100%;
}

.blog__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

@media (min-width: 1200px){
    .blog__wrapper{
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 34px;
        grid-row-gap: 60px;
    }
}

.pagination{
    width: 260px;
    display: none !important;
    padding: 0;
    margin: 52px auto;
    list-style: none;

    &__list{
        display: inline;

        & a {
            color: black;
            float: left;
            padding: 4px 10px;
            text-decoration: none;
            border-radius: 50px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #8B98B2;
            margin-right: 8px;
        }

        & a:not(.arrow, .dots, .active){
            background-color: #F8F8F8;
        }
        & a.active {
            background-color: $blue;
            color: white;
        }
        & a:hover:not(.active) {background-color: #ddd;}
    }
}

.dots{
    padding: 4px 10px;
}
.arrow.left {
    margin-right: 17px;
}
.arrow.right{
    margin-left: 9px;
}

.blog__button{
    display: block;
    text-align: center;
    margin: 52px 0px;
}

@media (min-width: 1440px){
    .pagination{
        display: flex !important;
    } 
    .blog__button{
        display: none;
    }
}