.error__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.3rem 0;
    text-align: center;
}
.button.error-btn{
    background-color: $blue;
    width: 214px;
    text-align: center;
    padding: 11px 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}