.faq{
    margin-bottom: 30px;
    margin-top: 30px;
}
.faq_list{
    color: #596069;
    max-width: 960px;
    margin: auto;
}
.faq_item{
    position: relative;
    border-bottom: 1px solid #979CA9;
    padding: 16px 0 18px 8px;

    & h1{
        text-align: center;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 37px;
    }
}
.faq_item_title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    position: relative;
}
.faq_show_all .faq_item_title{
    font-weight: 900;
    padding-left: 23px;
    margin-top: 20px;
}
.faq_item_title_inner{
    display: inline-block;
    position: relative;
    padding: 0 60px 0 0;
    cursor: pointer;
}
.faq_item_title_inner:hover:before{
    transform: translateY(1px);
}
.faq_item_title:before{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: url(../images/dist/icons/arrow-bottom-black.svg) no-repeat center center;
    cursor: pointer;
    transition: .2s;
    transition-timing-function: ease-in-out;
}
.faq_item_title_inner.open:before{
    transform: rotate(180deg);
}
.faq_item_body{
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    padding-top: 30px;
    padding-bottom: 46px;
    display: none;
}


