.footer {
    background-color: $footerBackground;
    color: $footerKategorien;
    font-family: $mainfont;
    font-size: 12px;
    line-height: 21px;
}

.footer h1 {
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    color: #CFD5E6;
}

.footer__logo {
    padding: 40px 0 30px 10px;
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding-left: 10px;
}


.footer__links {
    list-style: none;
    padding: 0;


    &-link {
        color: #fff;
        font-size: 10px;
        line-height: 28px;
    }

}


.footer__payment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 53px;

    &-item {
        &:first-child {
            margin-left: 10px;
        }
    }
}

.footer__info {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 21px;
    color: $black-gray;
}


@media (max-width: 1440px) {
    .footer h1 {
        text-transform: uppercase;
    }
}


@media (min-width: 1440px) {
    .footer__grid {
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin-bottom: 80px;
    }

    .footer__top {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 80px;
    }

    .footer__logo {
        margin-top: 36px;
    }

    .footer h1 {
        font-size: 16px;
    }

    .footer__payment {
        justify-content: center;
    }
}