// GENERAL PROJECT STYLES
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

// BS reset
body .container {
  padding-right: 0px;
  padding-left: 0px;
}

textarea:focus, input:focus, textarea:active, input:active {
  outline: none;
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

a {
  transition: color .5s;
}

a:hover, a:focus {
  text-decoration: none;
}