.gratitude{
    margin-bottom: 60px;
    padding-top: 30px;
    color: $dark-gray;
}


.button-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 29px;
}

.gratitude__button{
    background-color: $blue;
    padding: 10px 34px;
    border-radius: 50px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: block;
    text-align: center;
    max-width: 179px;
}
@media (min-width: 1400px){

    .gratitude__inner{
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        padding: 30px 40px 40px 40px;
        width: 918px;
        margin: 0 auto;

        & h1{
            border-bottom: 1px solid #EFEFEF;
            padding-bottom: 20px;
            margin-bottom: 13px;
        }
        span{
            margin-left: 108px;
        }
    }
}


