@import '_mainStyle';

body {
    min-width: 320px;
    overflow-x: hidden;
}

.flex__wrapper {
    display: flex;
    width: 100%;
    align-items: center;

    @media (min-width: 1440px) {
        width: auto;
    }
}

.header {
    background-color: $blue;

    &-inner {
        min-height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu-btn {
    padding-left: 10px;
}

.menu-wrapper {
    position: relative;
    overflow-x: hidden;
}

.menu-overlay {
    position: fixed;
    right: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    // transition: 0.5s;
    transform: translateX(-550%);
    z-index: 70;
}

.menu-overlay.active {
    transform: translateX(0%);
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #fff;
    // transition: 0.5s;
    transform: translateX(-100%);
    z-index: 70;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.menu.active {
    transform: translateX(0%);

}

.menu-list {
    display: flex;
    height: 67%;
    flex-direction: column;
    margin-bottom: 5rem;

    &__item {
        border-bottom: 1px solid $aside-border;
        width: 100%;
        padding: 13px 10px 12px 20px;
        max-height: 44px;
        position: relative;
    }

    &__item:hover {
        cursor: pointer;
    }

    &__item::after {
        content: url(../images/dist/header/aside-next.svg);
        position: absolute;
        right: 16px;
    }

    &__link {
        list-style: none;
    }
}

.menu-list a {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: $dark-gray;
}

.menu-top {
    padding: 12px 16px 11px 21px;
    border-bottom: 1px solid $aside-border;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;

    // a {
    //     padding-top: 12px;
    // }
}



.aside-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    background-color: #fff;
    // transition: 0.5s;
    transform: translateX(-100%);
}

.aside-menu.active {
    transform: translateX(0%);
    z-index: 100;

}

.aside-menu__top {
    border-bottom: 1px solid $aside-border;
    padding: 18px 20px 15px 20px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-menu__list {
    display: flex;
    justify-content: top;
    height: 50%;
    flex-direction: column;
    margin-bottom: 12px;

    &-item {
        border-bottom: 1px solid $aside-border;
        width: 100%;
        padding: 13px 10px 12px 20px;
        max-height: 44px;
        position: relative;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: $dark-gray;
    }

    &-item:hover {
        cursor: pointer;
    }
}

.aside-menu__top-link {

    & span {
        margin-left: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $blue;
    }

    & img {
        vertical-align: text-top;
    }
}


.logo {
    margin-left: 52px;
    margin-right: 22px;
}


.search-wrapper {
    position: relative;
    overflow-x: hidden;
}

.search.active {
    transform: translateX(0%);
}

.search {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $blue;
    padding: 8px 16px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-100%);
    z-index: 70;
}

.search__main {
    position: fixed;
    left: 0;
    top: 52px;
    width: 100%;
    height: calc(100% - 52px);
    background-color: #fff;
    transform: translateX(-100%);
    text-align: center;
    z-index: 70;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 27px;
}

.search__main-item {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $black-gray;
    padding: 0px 20px 0 20px;

}


.search__main li {
    list-style: none;
    padding-bottom: 25px;

    & li:hover {
        cursor: pointer;
        color: #43AEED;
    }
}

.search__main-link {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 21px;
    color: $blue;
    margin: 0.8125rem auto;
}

.search__main-link__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #E3ECF2;
}

.search__main.active {
    transform: translateX(0%);
}

.search__main li span {
    color: $footerBackground;
    font-weight: bold;
}

.search-input {
    width: 90%;
    border-radius: 20px;
    border: none;
    padding: 8px 17px;
    background-color: rgba(237, 240, 247, 0.3);
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Gilroy';

    @media (min-width: 720px) {
        width: 79%;
    }

    @media (min-width: 1050px) {
        width: 59%;
    }

    @media (min-width: 1050px) {
        width: 49%;
    }
}

.search-input::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.5;
}

.shopingcart__link-mobile {
    margin-right: 10px;
    padding: 0px;
    width: 26px;
}

.btn,
.btn-primary {
    border: none;
    background-color: transparent;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.search-btn {
    margin-left: 16px;
}

.menu-content {
    display: none;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 66px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 33px;
    color: $black-gray;
    background-color: $aside-border;
}

body.overlay::before {
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    z-index: -1;
}

.modal-body__item-top {
    display: flex;
    justify-content: space-between;
}

.trash {
    height: 14px;
}

.close {
    padding: 0px;
    margin: 0px;
}

.close.cart-close,
.close.rezense-close {
    padding: 0px;
    margin: 0px;
}

.modal-body__item-top p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.modal-body__item-top span {
    font-weight: 600;
}

.modal-body__price {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $dark-gray;
}

.modal-body__item-bottom {
    display: flex;
    justify-content: space-between;
}

.modal__quantity-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modal__quantity {
    margin: 0 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: $dark-gray;
}

.modal__increment,
.modal__decrement {
    font-size: 19px;
    line-height: 20px;
    color: $breadcrumb;
    padding-left: 3px;
    padding-right: 4px;
    margin-bottom: 0;
}

.modal-body.cart {
    margin: 2px 18px 0 18px;
    padding: 0px;
}

.modal-footer__price {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-footer.cart {
    display: flex;
    justify-content: center;
}

.btn.btn-primary.cart {
    display: block;
    margin-bottom: 22px;
}

.modal-footer__btn-link span {
    color: $blue;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-left: 15px;
}

.modal-body.cart-empty {
    padding: 0px;
    border-bottom: 1px solid $aside-border;
    margin: 2px 18px 0 18px;
}

.modal-body.cart-empty p {
    display: block;
    text-align: center;
    margin: 50px 0px;
}

.categories {
    display: none;
    width: 100%;

    &__item {

        background-color: #EDF0F7;
        padding: 6px 87px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 38px;
        text-transform: uppercase;
        color: $dark-gray;
        width: 100%;
        border-right: 2px solid #fff;
    }
}

.menu__desktop {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    width: 490px;
    display: none;
    justify-content: space-between;
    margin-bottom: 36px;
    margin-top: 36px;
    color: $dark-gray;
}

.logo__desktop,
.shopingcart__link-desktop {
    display: none;
    background-color: transparent;
}

.search-input__desktop {
    background-color: #EDF0F7;
    width: 400px;
    opacity: 0.25;
    padding: 9px 14px 9px 20px;
    border: none;
    display: none;
}

.search__desktop {
    margin: 32px 181px 24px 20px;
}

.dropdown__categories {
    position: absolute;
    width: 260px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    display: none;
}

.show {
    display: block;
}

.logo__mobile {
    margin: 0 auto;
}

@media (min-width: 1440px) {
    .container {
        width: 1396px;
    }

    .categories,
    .menu__desktop {
        display: flex;
        justify-content: space-between;
    }

    .header {
        background-color: #fff;
    }

    .shopingcart__link-mobile,
    .logo__mobile {
        display: none;
    }

    .logo__desktop,
    .shopingcart__link-desktop {
        display: flex;
    }

    .search-input__desktop {
        display: flex;
    }
}



.search-bar {
    display: block;
    position: relative;
    height: auto;
    overflow: visible;
    width: 400px;
    margin-right: 40px;
    display: none;
}


.form-inline {
    position: relative;
    border: none;
    width: 400px;

    :hover {
        cursor: pointer;
    }

    & input {
        background-color: rgba(237, 240, 247, 0.3);
        padding: 9px 14px 9px 20px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: $dark-gray;
    }

    & label {
        width: 17px;
        height: 17px;
        background-image: url("../images/dist/icons/search-black.svg");
        background-repeat: no-repeat;
        position: absolute;
        right: 15px;
        top: 14px;
    }
}

.form-inline .form-control {
    width: 400px;
    height: 44px;
}

.search-bar__body {
    display: block;
    box-sizing: border-box;
    display: none;
    width: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 500;
}

.search-bar__matching {
    padding: 0px;
    position: relative;
    margin-bottom: 0px;
}

.matching-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__price {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: $dark-gray;
    }

    &:hover {
        background: #EDF0F7;
    }
}

.matching-item__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: $black-gray;
    padding: 10px 0;
    width: 100%;
    position: relative;
    padding: 25px 35px 25px 16px;

    &:hover {
        color: #00639E;
    }
}

.search-bar__body-showall {
    padding: 12px 10px 12px 16px;
    border-top: 1px solid #EDF0F7;
}

.search-bar__body-showall a {
    font-family: 'Gilroy';
    font-size: 12px;
    line-height: 14px;
    color: #00639E;

}

.search-bar.open {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);

    .search-bar__body {
        display: block;
        box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.15);
    }

    .form-inline input {
        background-color: #fff;
    }

}

@media (min-width: 1440px) {
    .search-bar {
        display: block;
    }

    .menu-btn {
        display: none;
    }
}

.categories__item:hover {
    background-color: $blue;
}

nav a {
    display: block;
    text-decoration: none;
    outline: none;
    // transition: .4s ease-in-out;
}

.topmenu {
    backface-visibility: hidden;
    background: rgba(255, 255, 255, .8);
    display: flex;
    padding-left: 0px;
    width: 100%;
}

.topmenu ul {
    list-style: none;
    width: 100%;
    padding: 0px;
}

.topmenu>li {
    display: inline-block;
    position: relative;
    width: 100%;
}

.topmenu>li>a {
    height: 50px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 38px;
    padding: 6 87px;
    color: $dark-gray;
    text-transform: uppercase;
}

.submenu li a:hover {
    background-color: #EDF0F7;
    color: #000;
}

.submenu {
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 150px;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0% 0%;
    // transition: .3s ease-in-out;
}

.topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}

.submenu li a {
    font-family: 'Rubik', sans-serif;
    color: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 38px;
    padding: 0 25px;
}