.how__order p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #979CA9;
}
.how__order h1{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    margin-top: 29px;
    margin-bottom: 29px;
}
.how__order h2{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}
.how__order h1, h2{
    color: $dark-gray;
}
.how__order ul{
    margin-bottom: 51px;
    list-style: none;
    padding-left: 25px;

    & li::before{
        content: "\2022";  
        color: #00639E; 
        font-weight: bold; 
        display: inline-block; 
        width: 1em; 
        margin-left: -1em; 
    }

    & li:hover a {
        text-decoration: none;
    }
}


.how__order a{
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #00639E;
}
.how__order img{
    width: 100%;
    @media (min-width: 1440px) {
        width: auto;
    }
 
}
.how__order{
    margin-bottom: 37px;
}