.kontakt__inner{
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    max-width: 918px;
    overflow: hidden;
    padding: 29px 34px 39px 41px;
    margin: 50px auto;

    h1{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 37px;
        color: #596069;
    }
    p{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #596069;
    }
}
.kontakt__input{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;

    @media (min-width: 860px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
.form-control.textarea{
    height: 100%;
    width: 100%;
    border: 1px solid #CFD5E5;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    resize: none;
    padding-top: 14px;
}
.textarea{
    height: 100%;
    padding-bottom: 12px;
}
.button.kontakt{
    padding: 10px 61px;
    background-color: $blue;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 40px;
}