.modal__button-wrapper {
  margin: 30px;
  display: none;

  .btn.btn-primary {
    margin-bottom: 10px;
  }

  @media (min-width: 320px) {
    display: block;
  }
}

.modals-container {
  margin-bottom: 500px;
}

.modal {
  border-radius: 20px;

  .modal-sm {
    max-width: 410px;
  }

  .modal-dialog {
    @media (min-width: 440px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .modal-body,
  .modal-footer {
    @media (min-width: 1440px) {
      padding: 20px 25px;
    }
  }

  .modal-footer {
    border-top: 0;
  }

  .modal-content {
    border-radius: 20px;
  }

  .modal-title {
    font-size: 25px;
  }

  .modal-header {
    justify-content: center;
    position: relative;
    border: none;
    padding-bottom: 5px;
    height: 48px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px 15px;
    margin: 0;
  }

  &.show {
    .modal-dialog {
      transform: translate(0, 10%);

      @media (min-width: 1440px) {
        transform: translate(0, 25%);
      }
    }
  }

  .send-form {
    .review-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      span {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 5px;
      }

      .star a {
        font-size: 16px;
      }
    }
  }

  .form-group-modal {
    label {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 5px;
    }

    input,
    textarea {
      background-color: #EFEFEF;
      border: none;
      margin-bottom: 15px;
      font-size: 14px;
    }

    input {
      height: 44px;
    }

    textarea {
      height: 104px;
    }
  }

  .btn {
    height: 48px;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .cancel-btn {
    font-weight: 500;
    margin-right: 15px;
    font-size: 14px;
    transition: all .3s;
    border-radius: 36px;

    &:hover {
      border: 1px solid #4A4E55;
      font-weight: 600;
    }

    @media (min-width: 1440px) {
      min-width: 140px;
    }
  }
}


.review-modal {
  .modal-body {
    padding-bottom: 0;
  }

  .modal-footer {
    padding-top: 5px;

    @media (min-width: 1440px) {
      justify-content: space-between;
    }
  }
}

.thankyou-modal {
  .modal-body {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;

    img {
      width: 92px;
      height: 92px;
      margin: 10px 0 30px 0;
    }

    p {
      font-size: 25px;
      font-weight: 700;
    }
  }
}

.cart-modal {
  .modal-lg {
    max-width: 680px;
  }

  .modal {
    &-body {
      min-height: 150px;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 0;
      padding-bottom: 20px;
      padding: 10px 25px;

      @media (min-width: 1440px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #EFEFEF;
      }

      .btn {
        @media (max-width: 1439px) {
          margin-bottom: 20px;
        }
      }

      &.empty {
        border-top: 1px solid #dee2e6;
        padding-bottom: 15px;
        margin: 0 20px;

        @media (min-width: 1440px) {
          justify-content: flex-end;
          margin: 0;
        }
      }
    }
  }

  .ref-link {
    display: flex;
    align-items: center;
    color: $blue;
    font-size: 14px;
    line-height: 21px;

    @media (max-width: 1439px) {
      width: 100%;
      justify-content: center;
    }

    img {
      margin-right: 10px;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;

    &.desctop {
      display: none;
    }

    @media (min-width: 1440px) {
      &.mobile {
        display: none;
      }

      &.desctop {
        display: flex;
      }
    }

    &__label {
      font-size: 14px;
      line-height: 20px;
      color: #979CA9;

      @media (min-width: 1440px) {
        margin-right: 8px;
      }
    }

    &__price {
      font-size: 20px;
      line-height: 20px;

      &-val {
        font-weight: 600;
        margin-left: 3px;
      }

      @media (min-width: 1440px) {
        font-size: 25px;
        line-height: 14px;
      }
    }
  }

  .empty-label {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 14px;
    line-height: 20px;
  }
}