@media (min-width: 1440px) {
  .order__inner {
    padding-top: 20px;

    & h3 {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }

  .order {
    margin-bottom: 82px;
  }
}

.order__inner h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: $dark-gray;
  margin-top: 10px;
}

.order__inner h2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 19px;
  color: $dark-gray;
  margin-bottom: 20px;
  margin-top: 30px;
}

.order__inner h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: $breadcrumb;
  margin-top: 20px;
  margin-bottom: 20px;

}

.modal-body__item {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 10px;
}

.modal__quantity-wrapper.desktop {
  border: 1px solid #979CA9;
  width: 77px;
  height: 32px;
  align-items: center;
  border-radius: 50px;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid $breadcrumb;
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $blue;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.form-check-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: $dark-gray;
  margin-bottom: 10px;
}

.form-control.form-order {
  border: 1px solid #CFD5E5;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 12px;
  padding: 14px 10px;
  height: 48px;

}

.order__select-wrapper {
  display: flex;
}

.order__select {
  position: relative;
}

.order__select-list {

  padding: 17px 18px 20px 10px;
  border: none;
  width: 120px;
  background-color: #fff;
  border: 1px solid $light-gray;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $dark-gray;
  margin-bottom: 12px;
  margin-right: 10px;
  background-color: transparent;
}

.form-control.form-password {
  border: 1px solid #CFD5E5;
  border-radius: 10px;
  width: 120px;
  background-color: #fff;
  margin-bottom: 12px;
  padding: 14px 14px 14px 10px;
  height: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 33px;
}

.select__wrapper {
  display: flex;
  align-items: flex-start;
}

.select__wrapper img {
  margin-top: 13px;
  margin-left: 10px;
}

.order-select {
  position: relative;
}

.order-select select {
  display: none;
}

.options-selected {
  background-color: #fff;
  border-top: 1px solid #CFD5E5;
  border-left: 1px solid #CFD5E5;
  border-right: 1px solid #CFD5E5;
  border-bottom: 1px solid #CFD5E5;
  border-radius: 10px;
  position: relative;
  width: 120px;
  margin-right: 10px;
  margin-bottom: 12px;
}

.options-selected.select-arrow-active {
  border-top: 1px solid #00639E;
  border-left: 1px solid #00639E;
  border-right: 1px solid #00639E;
  border-bottom: 1px solid #00639E;
}

.options-selected:after {
  position: absolute;
  content: url(../images/dist/icons/select-arrow-down.svg);
  top: 29%;
  right: 15px;
}

.select-item div,
.options-selected {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #596069;
  padding: 17px 18px 20px 10px;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-item {
  position: absolute;
  background-color: #fff;
  border-bottom: 1px solid #00639E;
  border-left: 1px solid #00639E;
  border-right: 1px solid #00639E;
  border-radius: 0 0 10px 10px;
  top: 68%;
  left: 0;
  right: 0;
  z-index: 99;
  width: 120px;
  height: 200px;
  overflow: hidden;
}

.order__card {
  width: 555px;
  display: none;
}

.order__card-inner {
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.order__card-wrapper {
  border-bottom: 1px solid #EFEFEF;
}

.order__card-top {
  padding: 13px 18px 21px 27px;

  & h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
    color: #596069;
    margin-bottom: 38px;
    margin-top: 0;
  }

  & p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #596069;
  }

  & span {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #596069;
  }
}

.product__price {
  margin-left: 38px;
}

.delivery__price {
  margin-left: 26px;
}

.order__card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 18px 21px 27px;

  & p {
    margin: 0;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #979CA9;
  }

  & span {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 20px;
    color: #596069;
    margin-left: 15px;
  }
}


.button__card {
  padding: 11px 46px;
  color: #fff;
  background-color: $blue;
  border: none;
  border-radius: 50px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 1440px) {
  .order__card {
    display: block;
  }

  .order__inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 196px;
  }
}


.quantity {
  margin-bottom: 30px;

  h3 {
    padding: 0 10px;

    @media (min-width: 1440px) {
      padding: 0;
    }
  }

  .quantity-item {
    position: relative;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 10px;
    padding-bottom: 7px;

    @media (min-width: 1440px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 15px;
    }

    &__description {
      display: flex;
      padding: 0 10px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;
      align-items: flex-start;

      @media (min-width: 1440px) {
        padding: 0;
        font-size: 16px;
        align-items: center;
      }

      img {
        width: 68px;
        margin-right: 15px;
        border-radius: 10px;

        @media (min-width: 1440px) {
          width: 80px;
        }
      }

      &-container {
        display: flex;
        flex-direction: column;

        a {
          color: $black;
          margin-bottom: 8px;

          &:hover {
            color: $green;
          }
        }
      }

      &-title {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #596069;
      }

      &-text {
        font-weight: normal;
        color: #596069;
      }
    }

    &__footer {
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $dark-gray;

      @media (min-width: 1440px) {
        margin-right: 30px;
      }
    }

    &__control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 68px;

      @media (min-width: 1440px) {
        margin: 0 25px;
        border: 1px solid #979CA9;
        border-radius: 50px;
        height: 32px;
        width: 78px;
        padding: 0 6px;
      }

      &-btn {
        background: none;
        border: 0;
        transition: background .3s;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background: #eee;
          border-radius: 4px;

          @media (min-width: 1440px) {
            color: $green;
            background: $white;
          }
        }
      }

      &-value {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        color: #131313;
      }
    }

    &__total {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;

      &-price {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #596069;
      }

      @media (min-width: 1440px) {
        min-width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__delete {
      position: absolute;
      top: 0;
      right: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;

      @media (min-width: 1440px) {
        top: calc(50% - 10px);
      }

      &:hover {
        background: #eee;
        border-radius: 4px;
      }
    }
  }
}

.hide {
  display: none;


  @media (min-width: 1440px) {
    display: flex;
  }
}

.radio-section {
  margin-bottom: 30px;
}

.form-section {
  .row {
    flex-direction: column;

    @media (min-width: 1440px) {
      flex-direction: row;
    }
  }

  .col {
    width: 100%;

    @media (min-width: 1440px) {
      width: 330px;
      padding-right: 0;
    }
  }
}

.personal-data {
  margin-bottom: 20px;
}

.address-data {
  margin-bottom: 30px;

  &__checkbox {
    margin-bottom: 20px;
  }
}

.form-group .form-control {
  height: 48px;
  border: 1px solid #CFD5E5;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 12px;
  font-family: 'Gilroy-Regular';
  font-size: 12px;
  line-height: 20px;
  padding: 0 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #596069;

  ::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #596069;
  }

}

.form-group.has-error .form-control {
  border: 1px solid #EB5757;
}

.form-control {
  &:active {
    border-color: #00639E;
  }

  &:hover {
    border-color: #00639E;
  }
}



.form__select_wrapper {
  display: flex;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #596069;
  flex-wrap: wrap;
}

.__select,
.__select__year {
  position: relative;
  width: 120px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 12px;

  &[data-state="active"] {

    .__select__title,
    .__select__year__title {
      border-color: #00639E;
      border-bottom: 1px solid #CFD5E5;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      &::after {
        transform: translate(3px, 0%) rotate(179deg);
      }
    }

    .__select__content {
      opacity: 1;
      border-color: #00639E;
      overflow-y: scroll;
      height: 200px;

    }

    .__select__label+.__select__input+.__select__label {
      max-height: 40px;
      margin-top: 10px;
      border-top-width: 1px;
    }

    .__select__year__label {
      max-height: 40px;
      margin-top: 10px;
    }
  }
}

.__select__title,
.__select__year__title {
  display: flex;
  align-items: center;
  width: 120px;
  height: 48px;
  padding: 17px 10px 20px 10px;
  line-height: 19px;

  border-radius: 10px;
  border: solid 1px #CFD5E5;

  cursor: pointer;

  &::after {
    position: absolute;
    content: url(../images/dist/icons/select-arrow-down.svg);
    top: 27%;
    right: 15px;
  }

  &:hover {
    border-color: #00639E;
  }
}

.__select__content {
  position: absolute;
  top: 48px;

  display: flex;
  flex-direction: column;
  width: 100%;

  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
  background-color: #ffffff;
  height: 0;

  &:hover {
    border-color: #00639E;

    &::before,
    &::after {
      background-color: #43aeed;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.__select__input {
  display: none;

  &:disabled+label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.__select__label,
.__select__year__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  max-height: 0;
  padding: 0 16px;

  transition: all 0.2s ease-out;

  cursor: pointer;
  overflow: hidden;


  &:hover {
    background-color: #43aeed !important;
  }

}