.produkte {
  padding-left: 5px;
  padding-right: 5px;
}

.search__main.active .produkte {
  display: none;
}

.produkte p {
  margin: 0;
}

.produkte__inner {

  &-title {
    padding-top: 30px;
    margin-bottom: 28px;
    color: $dark-gray;
    font-size: 20px;
    line-height: 20px;
    padding-left: 5px;
  }
}

.produkte__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 5px;
  margin-bottom: 32px;
  margin-bottom: 30px;

}

.produkte__item {
  width: 100%;

  &-title {
    margin-top: 5px;
    font-size: 13px;
    line-height: 15px;
    font-family: $mainfont;
    font-style: normal;
    font-weight: normal;
    color: $black-gray;

  }
}

.produkte__item:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.produkte__item:hover .shopingcart__link {
  background-color: $blue;
  color: #fff;
}

.produkte__item:hover .shopingcart__link:hover {
  background-color: #329EDD;
}

.produkte__item:hover .shopingcart__link:focus {
  background-color: #066FAD;
}

.produkte__item:hover .shopingcart__link-img,
.old__price {
  display: none;
}

.produkte__item:hover .shopingcart__link-img.hover {
  display: flex;
  margin-left: 8px;
}

.shopingcart__link-img.hover {
  display: none;
}

.produkte__item-img {
  width: 100%;
}

.shoping__block {
  display: flex;
  justify-content: space-between;
}

.shopingcart__link {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  border-radius: 36px;
}

.beginnt {
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  color: $silver;
}

.produkte__button {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}


.produkte__item {
  width: 100%;
  position: relative;
  padding: 5px;


  @media (min-width: 1440px) {
    padding: 10px;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    @media (min-width: 1366px) {
      .produkte__item__button {
        background: $blue;
        width: 116px;

        span {
          display: block;
        }

        img {
          display: none;
        }

        .item-hover {
          display: block;
        }
      }
    }
  }

  &:nth-child(odd) {
    margin-right: 10px;
  }

  @media (min-width: 768px) {
    &:nth-child(odd) {
      margin-right: 15px;
    }

    &:not(:nth-of-type(3n)) {
      margin-right: 15px;
      // margin-bottom: 15px;
    }
  }

  @media (min-width: 1024px) {
    &:not(:nth-of-type(4n)) {
      margin-right: 15px;
      // margin-bottom: 15px;
    }
  }

  @media (min-width: 1366px) {
    &:nth-of-type(3n) {
      margin-right: 0;
      // margin-bottom: 25px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    &:not(:nth-of-type(4n)) {
      margin-right: 0;
      // margin-bottom: 25px;
    }

    max-width: 100%;
    min-width: 0;
    padding: 10px;
    border-radius: 10px;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .item-label {
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    position: absolute;

    color: #fff;
    border-radius: 4px 0px;

    @media(min-width: 1366px) {
      top: 10px;
      left: 10px;
    }

    &.green {
      background: $green;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 5px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 13px;
    line-height: 15px;
    color: $black-gray;
    width: 100%;
    display: block;
    margin-bottom: 7px;

    @media (min-width: 1366px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 3px;
    }
  }

  &__label {
    font-size: 12px;
    line-height: 15px;
    color: $silver;

    @media (min-width: 1366px) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    line-height: 18px;

    @media (min-width: 1366px) {
      align-items: center;
    }
  }

  &__price {
    &-total {
      font-size: 13px;
      line-height: 21px;
      color: $dark-gray;
      font-weight: 700;

      @media (min-width: 1366px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &-discount {
      font-size: 13px;
      line-height: 21px;
      color: $silver;
      margin-left: 5px;
      text-decoration: line-through;
    }
  }

  &__button {
    border: none;
    background: none;
    transition: width .3s;
    width: 36px;

    .item-hover {
      display: none;
    }

    span {
      display: none;
    }

    @media (min-width: 1366px) {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      border-radius: 36px;
      height: 36px;

      span {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        margin-right: 8px;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}



.button {
  border: none;
  margin: 0 auto;
  border-radius: 21px;
  padding: 8px 24px;
  background-color: $black-gray;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.button.hover:hover {
  background-color: #97A5C1;
}

.button.hover:focus {
  background-color: #8592AC;
}

.produkte__content {
  margin-bottom: 38px;
  padding: 0px 5px;

  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: $dark-gray;
  }

  &-text {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: $gray;
    margin-bottom: 16px;
  }

  &-link {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: $green;
    border-bottom: 1px dashed $green;
  }
}





#button {
  display: inline-block;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  width: 52px;
  height: 52px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 27px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}

#button::after {
  content: url(../images/dist/icons/arrow-top.svg);
  font-size: 15px;
  line-height: 50px;
  color: $black-gray;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.pagination__produkte {
  width: 260px;
  display: none;
  padding: 0;
  margin: 44px auto;
  list-style: none;

  &__list {
    display: inline;


    & a {
      color: black;
      float: left;
      padding: 4px 10px;
      text-decoration: none;
      border-radius: 50px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #8B98B2;
      margin-right: 8px;
    }

    & a:not(.arrow, .dots, .active) {
      background-color: #F8F8F8;
    }

    & a.active {
      background-color: $blue;
      color: white;
    }

    & a:hover:not(.active) {
      background-color: #ddd;
    }
  }

}





@media (min-width: 480px) {
  .container {
    width: 473px;
  }

  .produkte__list {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 760px;
  }

  .produkte__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .shopingcart__link {
    padding: 8px 23px;
    width: 116px;
  }

  .produkte__item {
    padding: 10px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }

  .produkte__item {
    padding: 10px;
  }

  .produkte__list {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 7px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;

  }

  .produkte__item {
    padding: 10px;
  }

  .produkte__list {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 7px;
  }

  .button-wrapper {
    justify-content: start;
  }

  .original__item {
    display: flex;
    align-items: center;
  }

  .wrap-desktop {
    margin-left: 68px;
    width: 50%;
  }

  .original__item-img {
    width: 50%;
  }

  .aside-menu__wrapper,
  .aside-menu {
    display: none;
  }

}


@media (min-width: 1440px) {
  .produkte__button {
    display: none;
  }

  .produkte__item {
    padding: 10px;
  }

  .produkte__list {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 7px;
  }

  .pagination__produkte {
    display: flex;
  }
}