.star {
    display: inline-block; 
    a {
      font-size: 14px;
      padding: 0 1px;
      cursor: pointer;
      color: #FFD119;
      text-decoration: none; 
    }
  }

  .btn.btn-primary.rezension__btn.review{
    margin: auto;
  }
  
.reviews-page {
    margin-bottom: 50px;
    h1 {
      text-align: center;
      margin-top: 28px;
      margin-bottom: 15px;
      color: $dark-gray;
    }
    .add-review {
      margin: 0 auto 30px auto;
      width: 155px;
      display: block;
    }
    .reviews {
      border-bottom: 1px solid #E5E5E5;
      max-width: 825px;
      margin: 60px auto;
    }
    .review-item {
      border-top: 1px solid #E5E5E5;
      padding-top: 20px;
      &__title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 5px;
      }
      &__user {
        display: flex;
        align-items: flex-start;
      }
      &__username {
        display: flex;
        flex-direction: column;
        span {
        font-family: 'Gilroy';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
          color: #596069;
        }
        .star {
          display: flex;
          align-items: center;
          a {
            font-size: 10px;
            margin-right: 2px;
          }
        }
      }
      &__linkundrlnd {
        color: #83C73D;
        font-size: 10px;
        line-height: 10px;
        border-bottom: 1px dashed #83C73D;;
        margin-left: 10px;
        margin-top: 4px;
      }
      &__date {
        font-size: 10px;
        line-height: 12px;
        color: $silver;
      }
      &__text {
        font-size: 12px;
        line-height: 21px;
        color: #979CA9;
      }
    }
    @media (min-width: 1440px) {
      h1 {
        margin-bottom: 30px;
      }
      .add-review {
        margin-bottom: 50px;
      }
      .review-item {
        &__text {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }

