.breadcrumb {
    background: none;
    padding: 0;
    height: 20px;
    margin: 15px 0px;

    @media (min-width: 1440px) {
        display: none;
    }
}

.breadcrumb-item {
    font-size: 12px;
    line-height: 20px;

    &+.breadcrumb-item::before {
        content: url(../images/dist/menu/next.svg);
    }

    a {
        color: $silver;
    }

    &.active {
        color: #131313;
    }
}

.original__item-form {
    display: flex;
    color: $breadcrumb;
    align-items: center;
}

.original__item {
    margin-bottom: 49px;

    &-img {
        width: 100%;
    }
}


.rating-grade {
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
}

.original__btn {
    margin-top: 16px;
    margin-bottom: 23px;
}

.original__item-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    margin-top: 31px;
    margin-bottom: 8px;
    color: $dark-gray;
}

.original__price {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #596069;
}

.item__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: $dark-gray;
    margin-bottom: 8px;
}

.composition-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.item__composition {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $dark-gray;
    margin: 0;
}

.item__composition-value {
    margin-left: 27px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: $dark-gray;
    margin-bottom: 0;
}

.filter__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $dark-gray;
    margin-bottom: 22px;
}

.filter__select {
    width: 300px;
    border-radius: 29px;
    padding: 10px;
    background-color: #25C0C3;
    border: none;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/dist/icons/next.svg) 96% / 4% no-repeat #25C0C3;
    /* Add custom arrow */
}

.filter__select option {
    color: #25C0C3;
    background-color: white;
}

.filter__products {
    padding: 6px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #EEEEEE;
    border-left: none;
    border-right: none;
}

.filter__products.first {
    margin-top: 20px;
}

.filter__composition {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    color: #9AA4B0;
    margin-bottom: 3px;
}

.filter__price {
    margin: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    color: $dark-gray;
}

.filter__button {
    border: none;
    border-radius: 21px;
    padding: 10px 23px;
    color: #fff;
    background-color: $blue;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    width: 116px;
}

.details__rating {
    margin-bottom: 24px;
}

.details__rating.rezension__star {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 11px;
    opacity: 0;

    @media (min-width: 1440px) {
        opacity: 1;
    }
}

.details__rating-val {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
    color: #979CA9;
    margin-left: 5px;
}

.rezension {
    padding-bottom: 30px;
    border-bottom: 1px solid $breadcrumb;
    margin-bottom: 30px;
}

.rezension__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

.rezension__top h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $dark-gray;
    margin-top: 15px;
    margin-bottom: 11px;
}

.btn.btn-primary.rezension__btn {
    padding: 9px 12px;
    background-color: #fff;
    border: 1px solid $blue;
    color: $blue;
    border-radius: 50px;
    box-shadow: none;
    width: 142px;
    display: block;
    margin-right: 0;
    margin-left: auto;
}

.btn.btn-primary.rezension__btn:hover {
    background-color: #329EDD;
    color: #fff;
}

.btn.btn-primary.rezension__btn:focus {
    background-color: #1E7CB5;
    color: #fff;
}

.rezension__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rezension__top-text {
    margin: 0px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 42px;
    color: #596069;
}

.rezension__content {
    display: block;
}

.rezension__content-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rezension__username-data {
    display: flex;
    align-items: center;
}

.name {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    color: $dark-gray;
    margin: 0px;
}

.antworten {
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 10px;
    text-align: right;
    color: $blue;
    border-bottom: 1px dashed $blue;
}

.date {
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 10px;
    color: $breadcrumb;
    margin: 0px;
}

.comment {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: $breadcrumb;
    margin: 0;
}


.modal-content {
    border-radius: 20px;
    color: $dark-gray;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-header {
    padding-bottom: 23px;
    position: relative;
}

.form-group {
    margin-bottom: 0px;
    width: 100%;
}

.form-control {
    border: none;
    background-color: $aside-border;
}

.modal-title {
    right: 81px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
    margin: 0 auto;
}

.close.modal-close {
    position: absolute;
    right: 14px;
    top: 12px;

}

.modal-caption {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}

.btn.btn-secondary {
    background-color: transparent;
    border: none;
    color: $dark-gray;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.modal-body {
    padding: 2px 18px 20px 18px;
}

.modal-footer {
    font-style: normal;
    display: flex;
    justify-content: space-between;
}

.btn.btn-primary {
    border-radius: 40px;
    padding: 11px 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background-color: $blue;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-thank {
    margin-top: 32px;
    margin-bottom: 52px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
}

.about__produkte {
    padding-bottom: 49px;
}

.about__produkte h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: $dark-gray;
}

.about__produkte p {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: $gray;
}

.item__price {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $dark-gray;
}

.item__text {
    margin-top: 10px;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    padding: 0;
    border: 0;
}

.custom-select select {
    display: none;
}

.dosage__desktop {
    display: flex;
    display: none;
    margin-top: 8px;
    margin-bottom: 29px;
}

.dosage__desktop div {
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 19px;
    width: 84px;
    margin-right: 32px;
    color: #25C0C3;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

.dosage__desktop div:hover {
    background-color: #25C0C3;
    color: #fff;
}

.select-selected {
    background: #25c0c3;
    color: $white;
    border-radius: 20px;
    height: 40px;
    border: 0;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 55;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: url(../images/dist/icons/arrow-bottom-white.svg);
    top: 13px;
    right: 26px;
    width: 0;
    height: 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    transform: rotate(180deg);
    top: 27px;
    right: 15px;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 15px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    border-radius: 20px;
    border: 1px solid #F3F3F3;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    div,
    .select-selected {
        color: #25c0c3;
        padding: 10px 16px;
        border: 0;
        cursor: pointer;
        text-align: center;
    }
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


.filter__button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    display: none;

    @media (min-width: 1440px) {
        display: flex;

        .nav-link {
            width: 84px;
            height: 34px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #25C0C3;
            font-weight: 600;
            border-radius: 20px;
            margin-right: 10px;

            &.active {
                background: #25C0C3;
                color: $white;
            }
        }
    }
}

.table.table-striped {
    width: 100%;
    box-shadow: 0px 4px 25px rgba(154, 164, 176, 0.25);
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #000;
    margin-bottom: 90px;
    border-spacing: unset;
    border: none;
    color: #9AA4B0;
    margin: auto;
    display: none;
}

.table__header {
    background: #A9B6C7;
    border-collapse: unset;
}

th {
    padding: 11px 0px 13px 25px;
}

th:first-of-type {
    border-top-left-radius: 20px;
}

th:last-of-type {
    border-top-right-radius: 20px;
}

td {
    padding: 26px 58px 21px 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
}

tr:nth-child(even) {
    background-color: #FBFAFD;
}

.bonus {
    color: #EB5757;
}

.preise {
    color: $footerBackground;
}

.paket {
    color: #fff;
}

@media (min-width: 1400px) {

    .custom-select.mobile,
    .filter__products {
        display: none;
    }

    .table.table-striped {
        display: table;
    }

    .dosage__desktop {
        display: flex;
    }

    .original__content-wrapper {
        margin-left: 26px;
    }

    .original__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &-img {
            width: 100%;
            max-width: 650px;
        }
    }

    .grid__wrapper {
        display: grid;
        margin-top: 72px;
        margin-bottom: 64px;
    }

    .about__produkte {
        grid-column: 1;
        grid-row: 1;
    }

    .rezension {
        grid-column: 2;
        border-bottom: none;
        border-left: 1px solid #E4E4E4;
        margin-left: 129px;
        padding-left: 29px;
    }

    .rezension__top {
        padding-top: 0px;
    }

    .modal-body {
        padding: 2px 38px 2px 38px;
    }
}

@media (min-width: 1440px) {
    .container {
        min-width: 1396px;
    }

    .table__wrapper {
        width: 1396px;
    }
}